<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">
  <sql id="test">
  	<if test="searchType == 'title'.toString()">
  			and title like '%${searchWord}%'
  			<!-- and title like '%' ||#{searchWord} || '%' -->
  			<!-- and title like CONCAT('%',CONCAT(#{searchWord},'%')) -->
  		</if>
  </sql>
  
  <insert id=""></insert>
  
  <select id="search" resultType="com.hsh.board.BoardDTO">
  	select * from freeboard where num > 0
  	<include refid="test"></include>
  	<!-- <where>
  		<if test="searchType == 'title'.toString()">
  			and title like '%${searchWord}%'
  			and title like '%' ||#{searchWord} || '%'
  			and title like CONCAT('%',CONCAT(#{searchWord},'%'))
  		</if>
  	</where> -->
  </select>
  
  <select id="list" resultType="com.hsh.board.BoardDTO">
  	select * from 
  	(select rownum R, A.* from 
  	(select * from 
  	<choose>
  		<when test="type == null">
  			freeboard
  		</when>
  		<otherwise>
  			qnaboard
  		</otherwise>
  	</choose>
  	order by ref, step asc) A )
  	where R between #{startRow} and #{lastRow}
  </select>
  
  <select id="totalList" resultType="java.lang.Integer">
  	select count(num) from freeboard
  </select>
  
  <insert id="boardWrite" parameterType="com.hsh.board.BoardDTO">
  	insert into 
  	freeboard
  	values
  	(freeboard_seq.nextVal,#{writer},#{title},#{contents},
  	freeboard_seq.currval,0,0,0,sysdate)
  </insert>
  
  <select id="boardView" resultType="com.hsh.board.BoardDTO">
  	select * from freeboard where num=#{num}
  </select>

</mapper>